<div
    class="main-banner"
    style="background-image: url(images/skyline.jpg);"
>
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="main-banner-text">
                    <h4>Shaping Vibrant Communities</h4>
                    <h1>Expert <span>Town Planning</span> Solutions</h1>
                    <p>Your partner in urban growth, we help your projects move forward with confidence</p>
                    <a (click)="onClick('about')" class="btn btn-primary">Get Started</a>
                    <a (click)="onClick('contact')" class="btn btn-primary view-work">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</div>